<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:pattern {"slug":"intrace/intrace-gutenverse-home-hero"} /-->

<!-- wp:pattern {"slug":"intrace/intrace-gutenverse-home-feature"} /-->

<!-- wp:pattern {"slug":"intrace/intrace-gutenverse-home-about-2"} /-->

<!-- wp:pattern {"slug":"intrace/intrace-gutenverse-home-services-2"} /-->

<!-- wp:pattern {"slug":"intrace/intrace-gutenverse-home-funfact"} /-->

<!-- wp:pattern {"slug":"intrace/intrace-gutenverse-home-pricing"} /-->

<!-- wp:pattern {"slug":"intrace/intrace-gutenverse-home-feature-2"} /-->

<!-- wp:pattern {"slug":"intrace/intrace-gutenverse-home-client-logo"} /-->

<!-- wp:pattern {"slug":"intrace/intrace-gutenverse-home-cta"} /-->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->